<?xml version="1.0"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aonaware.SyslogWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="Aonaware.SyslogWeb.Properties.Settings.DbConnection"
        connectionString="File Name=C:\Development\Source\Database\syslog.udl" />
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />

    <!--  Custom errors  -->
    <customErrors
    mode="RemoteOnly"
    />

    <!--  Use cookies for session data -->
    <sessionState
            mode="InProc"
    />
  </system.web>
  <applicationSettings>
    <Aonaware.SyslogWeb.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>50510</value>
      </setting>
      <setting name="DisplayLines" serializeAs="String">
        <value>15</value>
      </setting>
    </Aonaware.SyslogWeb.Properties.Settings>
  </applicationSettings>
</configuration>
