<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Aonaware.SyslogService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Aonaware.SyslogService.Properties.Settings.DbConnection"
      connectionString="File Name=.\..\..\..\..\Database\syslog.udl" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="SyslogDaemon" value="3" />
      <add name="DbLog" value="3" />
      <add name="MessageCleanup" value="3" />
    </switches>
  </system.diagnostics>
  <applicationSettings>
    <Aonaware.SyslogService.Properties.Settings>
      <setting name="ServerPort" serializeAs="String">
        <value>50510</value>
      </setting>
    </Aonaware.SyslogService.Properties.Settings>
  </applicationSettings>
</configuration>
